@model Sistema_Pedidos_SmaXtec.Models.OrderDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.UsuarioId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.UsuarioId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Produto.NomeProduto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.NomeProduto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPedido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
